{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="container">

    <h1>Foydalanuvchilar ro'yxati</h1>

    {% for user in users %}

    <div class="user-card">

        <div class="user-name">
            <a href="{% url 'user_view' user.slug %}">
                {{ user.ism }} {{ user.familya }}
            </a>
        </div>

        <div class="actions">
            <a href="{% url 'user_update' user.slug %}">Update</a>
            <a href="{% url 'user_delete' user.id %}">Delete</a>
        </div>

    </div>

    {% empty %}

    <p>Hozircha foydalanuvchi yo'q</p>

    {% endfor %}

    <a class="create" href="{% url 'user_create' %}">
        + Yangi user qo'shish
    </a>

</div>

{% endblock %}