{% extends "base.html" %}

{% block content %}
<div class="delete-container">

    <div class="delete-card">

        <div class="warning-icon">⚠️</div>

        <h2>Rostdan ham o‘chirmoqchimisiz?</h2>

        <p class="user-name">
            <b>{{ user.ism }} {{ user.familya }}</b>
        </p>

        <p class="text">
            Bu amal qaytarilmaydi!
        </p>

        <form method="post" class="delete-form">
            {% csrf_token %}
            <button class="btn danger" type="submit">
                Ha, o‘chirish
            </button>
        </form>

        <a href="{% url 'user_list' %}" class="btn cancel">
            Bekor qilish
        </a>

    </div>

</div>
{% endblock %}