{% extends 'base.html' %}

{% block content %}

<div class="wrapper">

    <div class="card">

        <h2>✏️ Update User</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Ism -->
            <label>👤 Ism</label>
            <input type="text" name="ism" value="{{ user.ism }}" required>

            <!-- Familiya -->
            <label>👤 Familiya</label>
            <input type="text" name="familiya" value="{{ user.familiya }}" required>

            <!-- Yosh -->
            <label>🎂 Yosh</label>
            <input type="number" name="yosh" value="{{ user.yosh }}" required>
            
            <label>📞 phon</label>
            <input type="text" name="phon" value="{{user.phon}} ">
            
            <label>📧 Email</label>
            <input type="text" name="email" value="{{user.email}} ">
            
            <!-- Rasm -->
            <label>🖼 Yangi rasm</label>
            <input type="file" name="picture">

            {% if user.picture %}
                <div class="img-box">
                    <img src="{{ user.picture.url }}" alt="user image">
                </div>
            {% endif %}

            <button type="submit">Update</button>

        </form>

    </div>

</div>

<style>
.wrapper{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#667eea,#764ba2);
    padding:20px;
}

.card{
    width:460px;
    background:gold;
    padding:30px;
    border-radius:18px;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:11px;
    margin:6px 0 15px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

input:focus{
    border-color:#764ba2;
    box-shadow:0 0 10px rgba(118,75,162,0.3);
}

button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    background:linear-gradient(135deg,#667eea,#764ba2);
    color:black;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}

.img-box{
    text-align:center;
    margin-top:15px;
}

.img-box img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    border:3px solid #764ba2;
}
</style>

{% endblock %}