{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">

        <div class="profile-img">
            {% if user.picture %}
                <img src="{{ user.picture.url }}" alt="profile">
            {% else %}
                <img src="{% static 'images/default-user.png' %}" alt="default">
            {% endif %}
        </div>

        <h2>{{ user.ism }} {{ user.familya }}</h2>
        <p class="age">Yosh: {{ user.yosh }}</p>

        <div class="btn-group">
            <a href="{% url 'user_update' user.slug %}" class="btn edit">Update</a>
            <a href="{% url 'user_delete' user.id %}" class="btn delete">🗑 Delete</a>
        </div>

        <a href="{% url 'user_list' %}" class="back">⬅ Orqaga qaytish</a>

    </div>
</div>
{% endblock %}